// Variables

// Fonts
$primaryFont: 'Montserrat', sans-serif;
$titleFont: 'Raleway', sans-serif;
$bodyCopy: 1.45em;

// Colours
$primaryColour: #00baff; // LE Blue
$orangeColour: #E89A22; // Orange
$secondaryColour: #242E32; // Dark Blue
$thirdColour: #fafafa; // Light grey for backgrounds ( if needed... )
$fontColour: #545454; // 

// Grid
$gridColumns: 12;
$gridColumnWidth: 100px;
$gridGutter: 20px;
$gridMaxWidth: auto;

// Structure
$websitewidth: 1200px;

// Media Queries
$desktopWide: 1200;
$desktop: 980;
$tablet: 768;
$phone: 420;