.blue--split__right {

	position: relative;
	padding: 5% 0;
	overflow: hidden;

	& > * {

		position: relative;
		z-index: 1;

	}

	@include bp($desktop) {

		&:after {
		
			content: '';
			position: absolute;
			z-index: 0;
			top: 0;
			right: -7.5%;
			width: 55%;
			height: 100%;
			background: $primaryColour;
			transform: skew( -15deg );

		}
	
	}

}